In [14]:
from mimesis import Person
from mimesis import Address
from mimesis.enums import Gender
from mimesis import Datetime
person = Person('en')
import pandas as pd
import random
person = Person()
addess = Address()
datetime = Datetime()
def create_rows_mimesis(num=1):
    output = [{"name":person.full_name(),
                "gender": person.gender(),
                "age": person.age(),
                "nationality": person.nationality(),
                   "address":addess.address(),
                   "email":person.email(),
                   "city":addess.city(),
                   "state":addess.state(),
                   "date_time":datetime.datetime(),
                   "randomdata":random.randint(1000,2000)} for x in range(num)]
    return output


df_mimesis = pd.DataFrame(create_rows_mimesis(5000))

In [15]:
df_mimesis

,name,gender,age,nationality,address,email,city,state,date_time,randomdata
0,Elisa Goodman,Other,40,Irish,1233 Pierce Hill,macrophage1876@yahoo.com,Eureka,North Carolina,2018-11-04 09:45:31.664579,1309
1,Douglass Richards,Female,42,Bolivian,474 Joy Spur,bilio1904@live.com,Orland Park,Wisconsin,2007-10-23 06:07:11.087906,1442
2,Margarett Bradley,Male,50,Costa Rican,206 Lathrop High Street,oryx1842@yandex.com,Orlando,Virginia,2010-01-07 10:28:32.337701,1709
3,Billy Osborn,Male,45,Bolivian,1036 Lake Merced Hill Road,interleaver1951@yahoo.com,Santa Barbara,Hawaii,2020-12-13 20:44:02.785711,1540
4,Lenny Baird,Female,20,Uruguayan,1353 Colby Highway,dredges1981@protonmail.com,Patterson,Utah,2012-11-13 12:57:31.349382,1967
...,...,...,...,...,...,...,...,...,...,...
4995,Brian Clayton,Other,42,British,143 Nevada Drung,batis1813@protonmail.com,North Ridgeville,Michigan,2010-10-18 16:22:21.933444,1362
4996,Jin Carr,Male,47,Greek,313 Santiago Parade,bowers1811@gmail.com,Nixa,North Dakota,2000-08-22 13:33:56.833354,1760
4997,Keira Mcpherson,Fluid,49,Italian,479 California Turnpike,dustuck2057@yandex.com,Tyler,Nebraska,2003-05-24 21:44:42.864646,1395
4998,Sima Mccall,Male,61,Costa Rican,1326 Grijalva Place,dassent1998@outlook.com,Pascagoula,Washington,2005-11-12 06:25:49.646682,1231
4999,Venice Vaughn,Male,33,Greek,4 Idora Esplanade,huddock2004@gmail.com,College Park,Illinois,2006-09-10 10:43:07.309103,1840

In [16]:
import pydp as dp
from pydp.algorithms.laplacian import BoundedSum, BoundedMean, Count, Max

In [17]:
print(dp.__version__)

1.0.1

In [18]:
df_mimesis.age.mean()

40.5966

In [20]:
x = BoundedMean(0.8,df_mimesis.age.min(),df_mimesis.age.max())

In [25]:
x.quick_result(list(df_mimesis.age))

40.57867901495021